.navbar_mobile
{    
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100px;
    z-index: 99;
    background-color: rgba(0, 0, 0, .3);  
    backdrop-filter: blur(5px);
    /*Hide navbar by default*/
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    visibility: hidden;
}

/*Show Mobile Navbar only on small screens*/
@media (max-width: 1024px) {
    .navbar_mobile
    {  
        visibility: visible;
    }
}

.navbar_mobile.visible
{
    /*Show navbar*/
    opacity: 1;
    /*Make navbar clickable*/
    pointer-events: initial;
}

.navbar_mobile ul
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    gap:0;
    padding: 0;
    list-style: none;
    height: 100%;
}

/*=================================
Container for Links and Icons
=================================*/
.navbar_mobile ul li
{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

/*=================================
Icons
=================================*/
.navbar_mobile ul li i
{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    opacity: 0.8;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(3);
    transform: translateX(-50%) translateY(-50%) scale(2.5);
    transition: 0.3s;
}

.navbar_mobile ul li i.active
{
    opacity: 1.0;
    -webkit-transform: translateX(-50%) translateY(-175%) scale(3);
    transform: translateX(-50%) translateY(-175%) scale(2.5);
}

/*=================================
Links
=================================*/
.navbar_mobile ul li a
{
    position: absolute;
    bottom: 0%;
    color: white;
    text-decoration: none;
    font-family:'Handelson';
    font-size: 20px;
    height: 2.3em;
    /*Hide Links by default*/
    display: none;
}

.navbar_mobile a.active
{
    display: inline;
}
