/*=================================
NavBar
=================================*/
.navbar
{
    font-family: 'kingvoon_regularregular';
    position: fixed;
    /* Center vertically*/
    top: 50%;
    transform: translateY(-50%);
    right:0;
    padding: 10px;
    /*Hide navbar by default*/
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    /*Make navbar unclickable*/
    pointer-events: none;
    z-index: 99;
    background: gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    background-color: rgba(0, 0, 0, .3);  
    backdrop-filter: blur(5px);
}

.navbar.visible
{
    /*Show navbar*/
    opacity: 1;
    /*Make navbar clickable*/
    pointer-events: initial;
}

/*=================================
List Items
=================================*/
.navbar li {
    /*Space to underlying list-items*/
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
    /*Hide Links*/
    display: block;
}
/*Highlight the current active navbar item*/
.navbar li .active {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(3) translateX(-7px);
    transform: scale(3) translateX(-7px);
    margin-left: 30px;
}

/*=================================
Links
=================================*/
.navbar a {
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
}

.navbar a.active {
    font-size: 50px;
}

/*Show Links*/
.navbar :hover a
{
    display:initial;
}

/*=================================
Images
=================================*/
.navbar i 
{
    color: white;
    width: 24px;
    height: 24px;
    text-align:center;
    cursor: pointer;
    -webkit-transform: scale(2);
    transform: scale(2);
}