.navbar
{
    font-family: 'kingvoon_regularregular';
    font-size: x-large;
    position: fixed;
    /* Center vertically*/
    top: 50%;
    transform: translateY(-50%);
    right:0;
    padding: 10px;
    /*Hide navbar by default*/
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /*Make navbar unclickable*/
    pointer-events: none;
    z-index: 99;
    background: gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    background-color: rgba(0, 0, 0, .3);  
    backdrop-filter: blur(5px);
}

.navbar.visible
{
    /*Show navbar*/
    opacity: 1;
    /*Make navbar clickable*/
    pointer-events: initial;
}

.navbar li {
    /*Space to underlying list-items*/
    margin-bottom: 20px;
    /*Right aligned*/
    text-align: right;
    /*Hide list iterators*/
    display: block;
}
/*Highlight the current active navbar item*/
.navbar li .active {
    transition: all 0.3s ease-in-out;
    font-size: xxx-large;
    transform: translateX(-100%);
    padding-right: 20px;
    margin-left: 20px;
}

/* Links */
.navbar a {
    display: none;
    color: #fff;
    text-decoration: none;
}

.navbar :hover a
{
    display:initial;
}

/* Images */
.navbar i 
{
    color: white;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    text-align:center;
    cursor: pointer;
}